In [1]:
from scipy import stats
import pandas as pd
from Oncetrain import * 
from Stat import *

In [2]:
Datalenlist = [1000,1500,2500,5500,10500]
#Datalenlist = ["1:1","2:1","4:1","10:1","20:1"]
auc_res = readexcel('Result/AUCfit',Datalenlist)
acc_res = readexcel('Result/ACCfit',Datalenlist)
def_res = readexcel('Result/defalutfit',Datalenlist)
ths_res = readexcel('Result/defalutfiThreshold',Datalenlist)

In [3]:
resultlist = [def_res,ths_res,acc_res,auc_res]

In [4]:
allresult = pd.DataFrame()
allres = []
for j in resultlist:
    data = []
    mid = []
    for i in j:
        acc = np.array(i.iloc[4,1:31])
        geo = np.array(i.iloc[5,1:31])
        auc = np.array(i.iloc[4,31:61])
        mid.append(pd.DataFrame(np.vstack([acc,geo,auc])).T)
    temp = pd.concat(mid)
    allres.append(temp)

In [5]:
pd.concat(allres,axis=1)

,0,1,2,0,1,2,0,1,2,0,1,2
0,0.85,0.84,0.9268,0.89,0.889494,0.9268,0.9,0.9,0.9444,0.93,0.929946,0.9528
1,0.84,0.839762,0.9012,0.84,0.84,0.9012,0.84,0.839762,0.9368,0.88,0.877952,0.9588
2,0.93,0.928655,0.9592,0.93,0.928655,0.9592,0.87,0.869943,0.9432,0.92,0.91913,0.9516
3,0.83,0.812404,0.9472,0.89,0.889494,0.9472,0.88,0.88,0.9496,0.9,0.899778,0.9448
4,0.92,0.916515,0.9544,0.89,0.889944,0.9544,0.89,0.889944,0.9356,0.91,0.909945,0.9596
...,...,...,...,...,...,...,...,...,...,...,...,...
25,0.9524,0,0.79389,0.659,0.722219,0.79389,0.7638,0.761997,0.6759,0.7733,0.804239,0.87933
26,0.9524,0,0.83768,0.7457,0.780026,0.83768,0.799,0.7995,0.8909,0.7838,0.800775,0.89108
27,0.9524,0,0.57432,0.619,0.559017,0.57432,0.72,0.72,0.80918,0.7762,0.728752,0.79868
28,0.9524,0,0.84253,0.7695,0.755341,0.84253,0.8114,0.805978,0.87962,0.779,0.769935,0.84457
29,0.9524,0,0.85072,0.7371,0.801499,0.85072,0.7895,0.784984,0.84928,0.7514,0.792136,0.87568

In [6]:
temp

         0         1        2
0     0.93  0.929946   0.9528
1     0.88  0.877952   0.9588
2     0.92   0.91913   0.9516
3      0.9  0.899778   0.9448
4     0.91  0.909945   0.9596
..     ...       ...      ...
25  0.7733  0.804239  0.87933
26  0.7838  0.800775  0.89108
27  0.7762  0.728752  0.79868
28   0.779  0.769935  0.84457
29  0.7514  0.792136  0.87568

[150 rows x 3 columns]

In [7]:
final = pd.concat(allres,axis=1)

In [8]:
final.to_excel("finalform.xlsx")

In [55]:
final

         0         1        2
0     0.85      0.84   0.9268
1     0.84  0.839762   0.9012
2     0.93  0.928655   0.9592
3     0.83  0.812404   0.9472
4     0.92  0.916515   0.9544
..     ...       ...      ...
25  0.7733  0.804239  0.87933
26  0.7838  0.800775  0.89108
27  0.7762  0.728752  0.79868
28   0.779  0.769935  0.84457
29  0.7514  0.792136  0.87568

[600 rows x 3 columns]